// 素材地址
$cdnUrl: 'https://c.58cdn.com.cn/arthurupload/teg-app-fe/fang/';

// 字体内容颜色
$mainFontColor: #1d2129;

// 浅色
$FontlightColor: #4e5969;

// 页面背景颜色
$pageBgColor: #f5f8ff;

// 主体颜色
$mainBgColor: #0364ff;

// 主体浅色
$LightBgColor: #2b7dff;

// 边框颜色
$mainBorderColor: #f5f5f5;

// 边框
$comBorder: 1px solid $mainBorderColor;
